<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">



  </head>
  <body>
    <h3>Online Registration Has Moved. Please Visit our Website usanorth811.org for more info.</h3>
    
<%= render 'form', sign_up: @sign_up %>


